@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
/* utility */
.margin_TB1{margin-top: 1rem; margin-bottom: 1rem;}
.padding_1{padding: 1rem;}
.margin_L1{margin-left: 1rem;}
.margin_LR1{margin-left: 1rem; margin-right: 1rem;}
.margin_LR2{margin-left: 2rem; margin-right: 2rem;}
.margin_R1{margin-right: 1rem;}
.margin_R2{margin-right: 2rem;}
.margin_T1{margin-top: 1rem;}
.flex{display: flex;}
.flex_col{display: flex; flex-direction: column;}
.justify_content_FE{justify-content: flex-end;}
.justify_content_FS{justify-content: flex-start;}
.align_items_FE{align-items: flex-end;}
.align_items_FS{align-items: flex-start;}
.margin_B1{margin-bottom: 1rem;}
.positionR{position: relative;}
.positionA{position: absolute;}
.align_items_CE{align-items: center;}
.justify_content_CE{justify-content: center;}
.justify_content_SB{justify-content: space-between;}
.border_R{border-right: 1px solid black;}
.border_L{border-left: 1px solid black;}
.border_B{border-bottom: 1px solid black;}
.width_100{width: 100%;}
.positionS_top{position: sticky; top: 0px;}
.flex_row_reverse{display: flex; flex-direction: row-reverse;}
.text_align_right{text-align: right;}
.flex_wrap{flex-wrap: wrap;}
/* --------------- */
/*------------head----------*/
.fix_header{
    background-color: #ffa93a;
    color: black;
    height: 60px;
    width: 100%;
    box-shadow: 2px 0px 10px black;
    z-index: 100;
}
.fix_icon{
    width: 30%;
}
/*------------main----------*/
.fix_main{
    height: calc(100vh - 100px);
}
.fix_sidebar{
    height: 100%;
    width: 20%;
    background-color: #4f1c0f;
    color: white;
}
.fix_sidebar_text{
    font-size: 160%;
}
.fix_center_main{
    width: 80%;
    height: 100%;
}
.fix_top_main{
    background-image: url(img/bisteccona.png);
    color: white;
    width: 80%;
    height: 60%;
    background-size: cover;
}
.fix_img_text{
    font-size: 300%;
    text-shadow: 1px 0px 10px black;
}
.fix_bottom_main{
    width: 100%;
    height: 40%;
}
.fix_font{
    font-size: 250%;
}
.fix_right_main{
    height: 60%;
    width: 20%;
}
.fix_right_img{
    background-image: url(img/deliver.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}
.fix_bg{
    background-color: #8da4dfAf;
    height: 100%;
    width: 100%;
    color: white;
}
.fix_right_big_text{
    font-size: 200%;
    margin-top: 1%;
}
.fix_right_small_text{
    font-size: 120%;
}
/*------------footer----------*/
.fix_footer{
    height: 40px;
    width: 100%;
    background-color: #2c0c04;
    color: white;
    padding: 0.5%;
    font-size: 140%;
}   
@media screen and (max-width:600px) {
    
}
@media screen and (max-width:768px) {
    .fix_center_main{
        flex-direction: column;
    }
    .fix_right_main{
        height: max-content;
        order: 99;
    }

}